<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buildboard">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBk8-hOLoZC_C8OLdcMnnl3QGeNb_Bu7Xk" />

        <activity
            android:name=".modules.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="buildboard" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buildboard.modules.splash.SplashActivity" />

        </activity>
        <activity
            android:name=".modules.signup.SignUpActivity"
            android:label="@string/sign_up"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.selection.SelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.login.forgotpassword.ForgotPasswordActivity"
            android:label="@string/title_forgot_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.home.modules.mailbox.draft.drafts.DraftsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.home.modules.mailbox.draft.drafts_reply.DraftsReplyActivity"
            android:screenOrientation="portrait" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".modules.home.modules.mailbox.inbox.InboxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.home.modules.marketplace.contractor_projecttype.ContractorByProjectTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.home.modules.marketplace.contractors.ContractorsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.home.modules.marketplace.contractors.NearByProjectsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.selection.ContractorTypeSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.login.resetpassword.ResetPasswordActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="buildboardreset" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.home.modules.mailbox.inbox.InboxListActivity" />
        <activity android:name=".modules.home.modules.profile.consumer.ProfileSettingsActivity" />
        <activity android:name=".modules.signup.imageupload.ImageUploadActivity" />
        <activity android:name=".modules.signup.contractor.businessinfo.SignUpContractorActivity" />
        <activity android:name=".modules.signup.contractor.worktype.WorkTypeActivity" />
        <activity android:name=".modules.signup.contractor.businessdocuments.BusinessDocumentsActivity" />
        <activity android:name=".modules.home.modules.profile.consumer.EditProfileActivity"/>
        <activity android:name=".modules.signup.contractor.previouswork.PreviousWorkActivity"/>
        <activity android:name=".modules.home.modules.profile.consumer.PreferredContractorActivity" />
        <activity android:name=".modules.home.modules.profile.consumer.LocationAddressActivity" />
        <activity android:name=".modules.home.modules.profile.consumer.ReviewActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.buildboard.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>